*   {
margin:0;
padding:0;
}
.outer {
	position: relative;
	background-color: #008FCC;
	min-height: calc(100vh - 20px);
	width: auto;
	padding: 10px;
}
.inner {
	background-color: #95CCED;
	min-height: 100%;
	min-height: calc(100vh - 20px);
	padding-bottom: 0.1px;
}
.bottom {
	clear: both;
}

.RFID_stack {
	margin-left: 10px;
	margin-right: 15px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24em;
	width: fit-content;
}

.RFID_stack img {
	padding: 4px;
	background-color: #065070;
	aspect-ratio: 1/1;
}

#totop {
	text-align: center;
}

#totop a {
	color: black; 
	background-color: #d3e7f4; 
	padding: 5px 15px; 
	filter: drop-shadow(2px 2px 1px); 
	text-decoration: none;
}

#totop a:hover {
	filter: drop-shadow(1px 1px 2px); 
}

#feed {
	overflow: auto;
	position: relative;
	width: 85vw;
	margin: 0 auto 15px auto;
	background-color: #b2d8f0;
}

.feed_item {
	overflow: auto;
	width: 95%;
	height: auto;
	clear: right;
	margin: 15px auto;
	background-color: #d3e7f4;
	filter: drop-shadow(1px 1px 2px);
}

.feed_item h3 {
	text-align: center;
	margin-top: 10px;
}

.feed_item p {
	margin-top: 10px;
	font-size: small;
}

.feed_item img {
	float: right;
	margin: 10px;
	max-width: 40%;
}

.framedimage {
	float: right; 
	padding: 0.3em; 
	background-color: #065070; 
	margin: 0.3em; 
	margin-right: 15px;
}

#dato {
	text-align: right;
	clear: right;
}

#dato em {
	font-size: xx-small;
}

h2 {
	font-size: 5vw;
}
p {
	margin: 15px;
	font-size: 0.8em;
}

#snus_container {
	text-align: center;
	width: 70vw;
	margin: 0 auto;
	padding: 15px;
	background-color: #d3e7f4;
}

#snus_container img {
	width: 90%;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 5px #065070 solid;
}

#snus_row_container {
	width: 70vw;
	padding: 15px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #d3e7f4;
}

#snus_row_container h3 {
	margin-top: 2px;
}

#snus_row {
	width: 70vw;
	display: flex;
	height: fit-content;
	justify-content: space-between;
	margin: 5px auto 3px auto;
}

#snus_row img {
	width: 20%;
}

#navigationBar ul {
	border-top: 1px #065070 solid;
	border-right: 2px #065070 solid;
	border-left: 2px #065070 solid;
	border-bottom: 1px #065070 solid;
	height: 100%;
	background-color: #008FCC;	
	text-align: center;
	

}
#navigationBar ul > li {
	display: inline-block;/*removing bullets*/
	height: 100%;
	/* menu header's items width */
	width: 18%;
	border-right: 2px #065070 solid;
}
#navigationBar li > a {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}
#navigationBar ul > li > a > img {
	position: relative;
	width: 100%;
	margin: 5px;
}

#navigationBar ul > li > a:hover > img{
	filter: drop-shadow(6px 6px 1px rgb(0, 39, 84));
}

footer {
	position: fixed;
	height: 10px;
	left: 0px;
	bottom: 0px;
	background-color: #008FCC;
	width: 100vw;
}

@media (min-width: 1079px) {
	h1 {
		text-align: center;
		padding: 2%;
		background-color: #3DC7F5;
		font-size: 4vw;
	}
	#navigationBar ul > li {
		width: 8vw;
	}
	#navigationBar ul {
		height: 45px
	}
	h2 {
		font-size: 4em;
	}
	.RFID_stack {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 28em;
		width: fit-content;
		margin: 0 50px;
	}

	.framedimage {
		float: right; 
		padding: 0.5em; 
		width: 11vw;
		background-color: #065070; 
		margin: 0.3em; 
		margin-right: 2em;
	}

	.RFID_stack img {
		padding: 4px;
		background-color: #065070;
		width: 8em;
	}

	#feed {
		overflow: auto;
		position: relative;
		width: 40vw;
		margin: 0 auto 15px auto;
		background-color: #b2d8f0;
	}

	.feed_item {
		overflow: auto;
		width: 95%;
		height: auto;
		clear: right;
		margin: 15px auto;
		background-color: #d3e7f4;
		filter: drop-shadow(1px 1px 2px);
	}

	.feed_item h3 {
		text-align: center;
		margin-top: 10px;
		font-size: x-large;
	}

	.feed_item p {
		margin-top: 10px;
		font-size: large;
	}
	#snus_container {
		text-align: center;
		width: 50vw;
		margin: 0 auto;
		padding: 15px;
		background-color: #d3e7f4;
	}

	#snus_row {
		width: 50vw;
	}

	#snus_row img {
		width: 30%;
	}

	#snus_row_container {
		position: relative;
		width: 50vw;
		margin: 15px auto;
		margin-top: 15px;
		background-color: #d3e7f4;
	}

}

@media (min-width: 700px) {
	#navigationBar {
	height: 6vw;
	}

	h1 {
	text-align: center;
	padding: 2%;
	background-color: #3DC7F5;
	font-size: 5vw;
	}
	p {
		font-size: 1.5em;
	}
}

@media (max-width: 699px) {
	#navigationBar {
	height: 10vw;
	}
	
	h1 {
	text-align: center;
	padding: 5%;
	background-color: #3DC7F5;
	font-size: 7vw;
	}
	p {
		font-size: 1.1em;
	}
}