*   {
margin:0;
padding:0;
}
.outer {
	background-color: #008FCC;
	height: calc(100vh - 20px);
	padding: 10px;
}
.inner {
	background-color: #95CCED;
	height: 100%;
}
.bottom {
	clear: right;
}
h1 {
	text-align: center;
	padding: 5%;
	background-color: #3DC7F5;
	font-size: 7vw;
}
h2 {
	font-size: 5vw;
}
p {
	margin: 15px;
}
#navigationBar {
	position:relative;
	height: 30px;
	width: 100%;
}
#navigationBar ul {
	border-top: 1px #065070 solid;
	border-right: 2px #065070 solid;
	border-left: 2px #065070 solid;
	border-bottom: 1px #065070 solid;
	height: 100%;
	background-color: #008FCC;	
	text-align: center;
	

}
#navigationBar ul > li {
	display: inline-block;/*removing bullets*/
	height: 100%;
	/* menu header's items width */
	width: 18%;
	border-right: 2px #065070 solid;
}
#navigationBar li > a {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 30px;
	text-align: center;
	font-family: 'Arial Narrow Bold', sans-serif;
	font-size: 17px;
	text-decoration: none;/*no underline*/
	background-color: transparent;
	color: rgb(0, 0, 0);
}
#navigationBar ul > li > a > img {
	position:relative;
	max-height: 30px;
}

#navigationBar ul > li > a:hover > img{
	opacity: 60%;
}