/* || General styles */

* {
	margin: 0;
}

body {
    background-color: #008FCC;
	margin: 10px;
}	

#inner {
	background-color: #95CCED;
	min-height: calc(100vh - 20px);
}

#bottom {
	height:0.1px;
}


h1 {
	text-align: center;
	padding: calc(1vw + 3vh);
	background-color: #3DC7F5;
	font-size: calc(1.5vw + 3vh);
	box-shadow: inset 0px 0px 3px rgba(17, 48, 59, 1);
}

h2 {
	font-size: calc(1.2vw + 2.4vh);
	text-align: center; 
	margin-top: 20px; 
	margin-bottom: 20px;
}

p {
	font-size: calc(0.8vw + 1.6vh);
	margin: 1.1em;
}

footer {
	position: fixed;
	height: 10px;
	left: 0px;
	bottom: 0px;
	background-color: #008FCC;
	width: 100vw;
}

/* || Header and Main Navigation */
#navigationBar ul {
	padding: 0;
	height: 7vh;
	background-color: #008FCC;	
	text-align: center;
	display: flex;
	justify-content: center;
	

}

#navigationBar ul > li {
	display: inline-block;/*removing bullets*/
	/* menu header's items width */
	border-right: 2px #065070 solid;
}

#navigationBar li > a {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin: 0% 8%;
}

#navigationBar ul > li > a > img {
	width: 100%;
	height: 90%;
	filter: drop-shadow(2px 2px 1px rgb(0, 39, 84));
}

#navigationBar ul > li > a:hover > img{
	filter: drop-shadow(6px 6px 1px rgb(0, 39, 84));
}

.framedimage {
	float: right; 
	background-color: #065070; 
	width: calc(6vw + 12vh);
	margin: 0 calc(0.8vw + 1.6vh); 
	margin-bottom: calc(0.8vw + 1.6vh);
	padding: calc(0.4vw + 0.8vh);
	filter:drop-shadow(2px 2px 4px)
}